<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:include="fragment/block :: headerFragment"></head>

<header th:insert="fragment/header :: header(barnav)"></header>
<body>

<div class="row" style="justify-content: center">
    <div class="container col-10">
        <div class="card" style="padding: 0">
            <div class="card-header">
                <h1>Liste de vos réservations en cours</h1>
            </div>
            <div class="card-panel">
                <table class="table">
                    <thread>
                        <tr>
                            <th scope="col">Nom</th>
                            <th scope="col">Lieux</th>
                            <th scope="col">Desription</th>
                            <th scope="col">Statut de la réservation</th>
                            <th scope="col">détails</th>
                        </tr>
                    </thread>
                    <tbody>
                    <tr th:each="reservationNotClosed : ${reservationsNotClosed}">
                        <td th:text="${reservationNotClosed.topo.name}"></td>
                        <td th:text="${reservationNotClosed.topo.lieux}"></td>
                        <td th:text="${reservationNotClosed.topo.description}"></td>
                        <td th:text="${reservationNotClosed.reservationStatus}"></td>
                        <td><a th:href="@{/topo/myreservation/{id}(id=${reservationNotClosed.id})}"> détails </a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="row" style="justify-content: center; padding-top: 5px">
    <div class="container col-10">
        <div class="card" style="padding: 0">
            <div class="card-header">
                <h1>Liste de vos réservations terminées</h1>
            </div>
            <div class="card-panel">
                <table class="table">
                    <thread>
                        <tr>
                            <th scope="col">Nom</th>
                            <th scope="col">Lieux</th>
                            <th scope="col">Desription</th>
                            <th scope="col">Statut de la réservation</th>
                            <th scope="col">détails</th>
                        </tr>
                    </thread>
                    <tbody>
                    <tr th:each="reservationsClosed : ${reservationClosed}">
                        <td th:text="${reservationsClosed.topo.name}"></td>
                        <td th:text="${reservationsClosed.topo.lieux}"></td>
                        <td th:text="${reservationsClosed.topo.description}"></td>
                        <td th:text="${reservationsClosed.reservationStatus}"></td>
                        <td><a th:href="@{/topo/info/{id}(id=${reservationsClosed.topo.id})}"> détails </a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</body>
<footer th:insert="fragment/footer :: footer"></footer>
</html>