<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:include="fragment/block :: headerFragment"></head>

<header th:insert="fragment/header :: header(barnav)"></header>
<body>

<div class="row">
    <div class="container col-10">
        <div class="card" style="margin: auto ; padding: 0">
            <div class="card-header">
                <h1> Details du topo</h1>
            </div>
            <div class="row col-1" style=" justify-content: flex-end ; padding-top: 5px"
                 th:if="${topo.officialTopo == true}">
                <img class="img-fluid" src="/assets/approuved.png">

            </div>
            <div class="panel-body" style="padding-top: 10px">
                <div class="row" style="justify-content: center">
                    <div class="col-sm-4">
                        <div class="card text-center">
                            <div class="card-header">Nom du topo</div>
                            <p class="card-text" th:text="*{topo.name}"></p>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="card text-center">
                            <div class="card-header"> Lieux du topo :</div>
                            <p class="card-text" th:text="*{topo.lieux}"></p>
                        </div>
                    </div>
                </div>
                <div class="row" style="justify-content: center">
                    <div class="col-sm-8">
                        <div class="card text-center" style="margin-top: 10px; justify-content: center">
                            <div class="card-header"> Description du topo :</div>
                            <p class="card-text" th:text="*{topo.description}"></p>
                        </div>
                    </div>
                </div>

                <div class="row" style="padding-top: 10px; padding-bottom:5px; justify-content: space-around">

                    <form class="form-inline" method="post"
                          th:action="@{/topo/reservation/{id}(id=${topo.id})}"
                          th:if="${topo.isAvailable() == true && corrsepondance == false}">
                        <button class="btn btn-primary" type="submit">
                            Reserver
                        </button>
                    </form>


                    <form class="form-inline" method="post" sec:authorize="hasRole('ADMIN')"
                          th:action="@{/topo/officialTopo/{id}(id=${topo.id})}"
                          th:if="${topo.officialTopo == false}">
                        <button class="btn btn-primary" type="submit">Mettre le topo en topo officiel
                        </button>
                    </form>
                    <form class="form-inline" method="post" sec:authorize="hasRole('ADMIN')"
                          th:action="@{/topo/unofficialTopo/{id}(id=${topo.id})}"
                          th:if="${topo.officialTopo == true}">
                        <button class="btn btn-primary" type="submit">Retirer le topo Officiel
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="container col-10">
        <div class="card" style="margin-top: 20px; margin-left: auto; margin-right: auto ; padding: 0">
            <div class="card-header">
                <h1> Liste des sites</h1>
            </div>
            <div class="panel-body">
                <table class="table">
                    <thread>
                        <tr>
                            <th scope="col">Nom</th>
                            <th scope="col">Adresse</th>
                            <th scope="col">Contact</th>
                            <th scope="col">Info</th>
                        </tr>
                    </thread>
                    <tbody>
                    <tr th:each="sites : ${site}">
                        <td th:text="${sites.name}"></td>
                        <td th:text="${sites.adresse}"></td>
                        <td th:text="${sites.contact}"></td>

                        <td><a th:href="@{/site/info/{id}(id=${sites.id})}"> Plus d'infos </a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</body>
<footer th:insert="fragment/footer :: footer"></footer>
</html>