<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:include="fragment/block :: headerFragment"></head>

<header th:insert="fragment/header :: header(barnav)"></header>
<body>
<div class="row">
    <div class="card col-10">
        <div class="card-heading">
            <h1>Liste de vos topo</h1>
        </div>
        <div class="card-panel">
            <table class="table">
                <thread>
                    <tr>
                        <th scope="col">Nom</th>
                        <th scope="col">Lieux</th>
                        <th scope="col">Desription</th>
                        <th scope="col">Statut public</th>
                        <th scope="col">Modification</th>
                    </tr>
                </thread>
                <tbody>
                <tr th:each="topo : ${listTopo}">
                    <td th:text="${topo.name}"></td>
                    <td th:text="${topo.lieux}"></td>
                    <td th:text="${topo.description}"></td>
                    <td th:text="${topo.statutPublic}"></td>
                    <td><a th:href="@{/topo/update/{id}(id=${topo.id})}"> Modification </a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
<footer th:insert="fragment/footer :: footer"></footer>
</html>