<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:include="fragment/block :: headerFragment"></head>

<header th:insert="fragment/header :: header(barnav)"></header>

<div class="containter">
    <div class="row" style="padding-top: 5px; padding-bottom: 5px; justify-content: space-around">

    </div>
    <div class="card col-10" style="margin: auto">
        <div class="card-body">
            <div class="panel-heading">
                <h1> Details du topo</h1>
                <div class="row col-1" style="justify-content: flex-end"
                     th:if="${reservationNotClosed.topo.officialTopo == true}">
                    <img class="img-fluid" src="/assets/approuved.jpg">
                </div>
            </div>
            <div class="panel-body">
                <div class="row" style="justify-content: center">
                    <div class="col-sm-4">
                        <div class="card text-center">
                            <div class="card-header">Nom du topo</div>
                            <p class="card-text" th:text="*{reservationNotClosed.topo.name}"></p>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="card text-center">
                            <div class="card-header"> Lieux du topo :</div>
                            <p class="card-text" th:text="*{reservationNotClosed.topo.lieux}"></p>
                        </div>
                    </div>
                </div>
                <div class="row" style="justify-content: center">
                    <div class="col-sm-8">
                        <div class="card text-center" style="margin-top: 10px; justify-content: center">
                            <div class="card-header">Statut de la réservation :</div>
                            <p class="card-text" th:text="*{reservationNotClosed.reservationStatus}"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="justify-content: center ; padding-top: 10px"
         th:if="${reservationNotClosed.acceptedReservation} == true">
        <div class="card col-10">
            <div class="card-body">
                <div class="card-heading">
                    <h1>Réservation en cours voulez vous mettre un terme a votre reservatione :</h1>
                </div>
                <div class="panel-body" style="padding-top: 5px">
                    <div class="row" style="justify-content: space-around">
                        <div class="col-sm-4">
                            <form th:action="@{/topo/reservationEnded/{id}(id=${reservationNotClosed.id})}">
                                <button class="btn btn-primary btn-block btn-flat" type="submit">Terminer ma reservation
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<div class="card col-10" style="margin-top: 20px; margin-left: auto; margin-right: auto">
    <div class="card-body">
        <div class="panel-heading">
            <h1> Historique des réservations </h1>
        </div>
        <div class="panel-body">
            <table class="table">
                <thread>
                    <tr>
                        <th scope="col">Nom</th>
                        <th scope="col">Date de la demande</th>
                        <th scope="col">statut</th>
                    </tr>
                </thread>
                <tbody>
                <tr th:each="reservations : ${reservationTopo}">
                    <td th:text="${reservations.users.name}"></td>
                    <td th:text="${reservations.created_at}"></td>
                    <td th:text="${reservations.reservationStatus}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
<footer th:insert="fragment/footer :: footer"></footer>
</html>