a {
    color: #f76647;
    text-decoration: none;
    -webkit-transition: color 100ms;
    -moz-transition: color 100ms;
    -o-transition: color 100ms;
    transition: color 300ms;
}

a:visited {
    color: #f76647;
}

a:hover, a:focus, a:active {
    color: #f76647;
}

/*Main*/
body {
    background: url('../assets/Background F1.jpg') no-repeat center center fixed;
    background-size: cover;
}

/* Images */

img {
    /*max-width: 100%;*/
    height: auto;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}


html, body {
    height: 100%;
    margin: 0px;
    padding: 0px;
}

/* Stream Box */
.streamBox {
    width: 24%;
    float: left;
    text-align: center;
    /*border-bottom:5px solid #000;
    border-bottom:2px solid #000;
    border-top:2px solid #000;
    border-right:2px solid #000;
    border-left:2px solid #000;*/

}

.streamBox .thumbContainer img {
    width: 98%;
    height: auto;
}

.streamInfos {
    color: #298383;
    height: 120px;
}

.streamInfos span.jeu {
    margin-top: 10px;
}

.streamInfos span.jeu, .streamInfos span.username {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    float: left;
}

.streamInfos span.jeu {
    margin-top: 10px;
}

.streamInfos span.jeu, .streamInfos span.username {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    float: left;
}

ul.infos {
    padding: 0;
}

ul.infos > li {
    display: inline-block;
    font-size: 11px;
}

ul.infos > li.username {
    margin-right: 5px;
}


/* Portrait Tablets */
@media only screen and (min-width: 768px) and (max-width: 959px) {
    #container {
        width: 680px;
    }
}

/* Ecrans en 1024 */
@media only screen and (min-width: 1000px) and (max-width: 1249px) {
    #container {
        width: 100%;
        height: 100%;
    }

    #main {
        width: auto;
    }

    .itemOverlay span {
        line-height: 10px;
    }
}

/* Portrait Tablets */
@media only screen and (min-width: 768px) and (max-width: 999px) {
    #container {
        width: 100%;
        height: 100%;
    }

    #main {
        width: auto;
    }

    .itemOverlay span {
        line-height: 10px;
    }

    .streamBox {
        width: 49.9%;
        float: left;
    }
}

/*  Portrait Mobiles */
@media only screen and (max-width: 767px) {
    #container {
        width: 100%;
        height: 100%;
    }

    #main {
        width: 100%;
        float: left;
        margin: 0 auto;
        margin-left: 0px;
        text-align: left;
        padding-left: 0;
    }

    .itemOverlay span {
        line-height: 10px;
    }

    .streamBox {
        margin: 0;
    }
}

/* Paysage Mobiles */
@media only screen and (min-width: 0px) and (max-width: 767px) {
    #container {
        width: 100%;
        height: 100%;
    }

    #main {
        width: 100%;
        float: left;
        text-align: center;
        padding-left: 0;
    }

    .streamBox {
        margin: 0;
        width: 49.9%;
        float: left;
    }
}

@media only screen and (min-width: 0px) and (max-width: 580px) {
    .streamBox {
        margin: 0;
        width: 100%;
        float: left;
    }
}


/* ---------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------- */

/* LAYOUT */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html, body {
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

body {
    display: flex;
    flex-direction: column;
}

#main {
    background: linear-gradient(0, #333, #111);
    display: flex;
    flex-direction: row;
    flex: 1;
}

@media only screen and (max-width: 959px) {
    #main {
        flex-direction: column-reverse;
    }
}

/* COMMON */

a {
    text-decoration: none;
}

a:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

p {
    margin-bottom: 20px;
}


/* CONTENTS */

#contents {
    height: 100%;
    flex: 3;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

#countdown {
    display: flex;
    background-color: #d05744;
    border-radius: 0 30px 30px 30px;
    padding: 10px;
    margin: 0 auto 20px;
}

#countdown-event {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    flex: 1;
    justify-content: center;
}

#countdown-event-legend {
    font-size: 1.0rem;
    color: #000000BB;
}

#countdown-event-name {
    font-size: 2.5rem;
    font-weight: bold;
}

#countdown-time {
    display: inline-block;
    background-color: white;
    border-radius: 20px;
    font-size: 2.4rem;
    line-height: 40px;
    font-weight: bold;
    vertical-align: middle;
    padding: 0 10px;
    color: #444;
}

#countdown-time-simple {
    margin-top: 10px;
}

.countdown-time-part {
    border-right: 1px solid #CCC;
    display: inline-block;
    margin: 8px 0;
    padding-right: 10px;
    text-align: center;
}

.countdown-time-part:last-child {
    border-right: 0;
    padding-right: 0;
}

.countdown-time-part-digit {
    line-height: 2.2rem;
}

.countdown-time-part-legend {
    font-size: 0.7rem;
    line-height: 1rem;
    color: #888;
    text-transform: uppercase;
}

@media only screen and (max-width: 959px) {
    #countdown-time {
        font-size: 1.5rem;
    }

    .countdown-time-part-digit {
        font-size: 1.5rem;
    }
}

@media only screen and (max-width: 600px) {
    #countdown-time-simple {
        margin-top: 0;
    }

    #countdown {
        flex-direction: column;
    }
}

#streams {
    flex: 1;
}

#stream-empty {
    text-align: center;
    color: #888;
    font-size: 1.6rem;
    margin-top: 100px;
}

.fake-stream {
    display: inline-block;
    box-shadow: 1px 3px 3px 3px #00000030;
    background: url('fake-stream.jpg');
    background-size: cover;
    background-position: center;
    width: 30%;
    height: 300px;
    margin-right: 20px;
    margin-bottom: 10px;
}

@media only screen and (max-width: 1600px) {
    .fake-stream {
        width: 45%;
    }
}

@media only screen and (max-width: 1024px) {
    #stream-empty {
        margin-top: 10px;
        text-align: center;
    }
}

@media only screen and (max-width: 600px) {
    .fake-stream {
        width: 100%;
    }
}

/* SIDEBAR */

#sidebar {
    background-color: #444;
    flex: 1;
    padding: 20px;
    color: #DDD;
}

.sidebar-title {
    font-size: 1.6rem;
    font-weight: bold;
    color: #888;
    margin-bottom: 10px;
}

.streamer {
    display: block;
    margin-top: 10px;
    border-left: 3px solid white;
    padding: 2px 10px;
    color: #DDD;
}

a.streamer:hover {
    border-left-width: 6px;
    transition: 0.2s;
}

.streamer-name {
    font-size: 1.2rem;
    font-weight: bold;
}

.streamer-twitch-name {
    font-size: 0.8rem;
    padding-left: 2px;
}

.streamer-description {
    font-size: 0.8rem;
    font-style: italic;
    color: #888;
    display: block;
}

@media only screen and (max-width: 959px) {
    #sidebar {
        padding: 10px;
    }

    .streamer {
        display: inline-block;
        width: 250px;
    }

    .streamer-name {
        font-size: 1rem;
        font-weight: bold;
    }

    .streamer:hover {
        padding: 0px 20px;
        border-left-width: 3px;
    }
}

@media only screen and (max-width: 600px) {
    .streamer-description {
        display: none;
    }
}

/*Multi Stream*/

multi-stream {

}

/* FOOTER */

#footer {
    background-color: #111;
    padding: 10px;
    color: #888;
}