<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:include="fragment/block :: headerFragment"></head>

<header th:insert="fragment/header :: header(barnav)"></header>
<body>
<div class="row">
    <div class="container">
        <div class="card">
            <div class="table">
                <div class="card-body">
                    <div class="panel-heading"> Liste des topos</div>
                    <div class="panel-body">
                        <table class="table">
                            <thread>
                                <tr>
                                    <th>Nom</th>
                                    <th>Lieux</th>
                                    <th>Desription</th>
                                    <th>Auteur</th>
                                    <th>Info</th>
                                </tr>
                            </thread>
                        </table>
                        <tbody>
                        <tr th:each="topo : ${topoList}">
                            <td th:text="${topo.name}"></td>
                            <td th:text="${topo.lieux}"></td>
                            <td th:text="${topo.description}"></td>
                            <!-- Mettre en place la colonne Auteur à partir de la table croisé topo_user -->
                            <td><a th:href="@{/topo/{id}(id=${topo.id})}"> Plus d'infos </a></td>
                        </tr>
                        </tbody>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<footer th:insert="fragment/footer :: footer"></footer>
</html>