<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:include="fragment/block :: headerFragment"></head>

<header th:insert="fragment/header :: header(barnav)"></header>
<body>
<div class="row">
    <div class="container">
        <div class="card">
            <form method="post" th:action="@{/topo-creation}" th:object="${topo}">
                <label>Nom du Site :</label>
                <input th:field="*{name}">

                <label>Adresse du Site :</label>
                <input th:field="*{lieux}">

                <label>Telephone :</label>
                <input th:field="*{description}">

            </form>
        </div>
    </div>
</div>
</body>
<footer th:insert="fragment/footer :: footer"></footer>
</html>