<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:include="fragment/block :: headerFragment"></head>

<header th:insert="fragment/header :: header(barnav)"></header>
<body>
<div class="row">
    <div class="container">
        <div class="card">
            <!-- Mettre la liste des topos appartenant à la personne -->
        </div>
        <div class="card">
            <!-- Mettre le formulaire des pour la création d'un nouveau topo -->
        </div>
    </div>
</div>
</body>
<footer th:insert="fragment/footer :: footer"></footer>
</html>