<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:include="fragment/block :: headerFragment"></head>

<header th:insert="fragment/header :: header(barnav)"></header>
<body>

<div class="row" style="justify-content: center">
    <div class="container col-10">
        <div class="card" style="padding: 0">
            <div class="card-header">
                <h1>Liste de vos voies</h1>
            </div>
            <div class="card-panel">
                <table class="table">
                    <thread>
                        <tr>
                            <th scope="col">Nom</th>
                            <th scope="col">Longueur</th>
                            <th scope="col">Difficulté</th>
                            <th scope="col">Nom du Site Associé</th>
                            <th scope="col">Nom du Topo Associé</th>
                            <th scope="col">Modification</th>
                        </tr>
                    </thread>
                    <tbody>
                    <tr th:each="voie : ${voies}">
                        <td th:text="${voie.name}"></td>
                        <td th:text="${voie.longueur}"></td>
                        <td th:text="${voie.difficulte}"></td>
                        <td th:text="${voie.site.name}"></td>
                        <td th:text="${voie.site.topo.name}"></td>
                        <td><a th:href="@{/voie/update/{id}(id=${voie.id})}"> Modification </a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</body>
<footer th:insert="fragment/footer :: footer"></footer>
</html>